#Files or directories to ignore

# IDEs and editors
.idea

# Docker
docker-compose.yml
.docker

# Git
.git
.gitignore

# CI
.codeclimate.yml
.codacy.yml
.travis.yml

# Unit test and coverage
spec/*
.rspec
coverage/*

# misc
temp
tmp
log

# System Files
.DS_Store

